---
import "../styles/global.css";
import "../styles/experiment-journey.css";

const {
  title = "Jevin Nishioka",
  description = "Portfolio of Jevin Nishioka.",
  mainClass,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <main class={mainClass}>
      <slot />
    </main>
  </body>
</html>
